/* line 1, ../../app/assets/stylesheets/print.sass */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-style: inherit;
  font-weight: normal;
  font-weight: normal;
  line-height: 18px;
  margin: 0;
  outline: 0;
  padding: 0;
}

/* line 14, ../../app/assets/stylesheets/print.sass */
#header {
  display: none;
}

/* line 16, ../../app/assets/stylesheets/print.sass */
.headerBG {
  display: none;
}

/* line 18, ../../app/assets/stylesheets/print.sass */
.invoiceBack {
  display: none;
}

/* line 20, ../../app/assets/stylesheets/print.sass */
.footer {
  display: none;
}

/* line 22, ../../app/assets/stylesheets/print.sass */
table {
  width: 100%;
}

/* line 24, ../../app/assets/stylesheets/print.sass */
#pageInvoice {
  margin: 0 10%;
  padding-top: 80px;
}
/* line 27, ../../app/assets/stylesheets/print.sass */
#pageInvoice .invoiceDate {
  font-family: "Georgia", serif;
  font-size: 11px;
  font-style: italic;
}
/* line 31, ../../app/assets/stylesheets/print.sass */
#pageInvoice .invoiceAddress {
  float: right;
  font-size: 11px;
}
/* line 34, ../../app/assets/stylesheets/print.sass */
#pageInvoice .invoiceAddress img {
  height: 20px;
}
/* line 36, ../../app/assets/stylesheets/print.sass */
#pageInvoice h2 {
  clear: both;
  color: #7292b0;
  padding: 60px 0 20px;
}
/* line 40, ../../app/assets/stylesheets/print.sass */
#pageInvoice th {
  color: #7292b0;
  font-size: 10px;
  text-align: left;
  text-transform: uppercase;
}
