<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Vishal's Simple Twitter Clone</a> by Vishal Sood <a href="http://twiter.com/vishalsood114">(@vishalsood114)</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>